<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="teams-list" class="row" th:fragment="teamsTable">
    <div class="col-md-12" th:switch="${teams.totalElements}">
        <h2 th:case="0">No teams found!</h2>
        <div th:case="*">
            <h2>Teams</h2>
            <a style="position: absolute" th:href="@{/teams/addteam}">Create New Team</a>
            <table class="table table-dark table-striped">
                <thead style="height: 60px">
                <tr>
                    <th># Id</th>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Employee List</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="team : ${teams.iterator()}">
                    <td th:text="${team.id}"></td>
                    <td th:text="${team.name}"></td>
                    <td th:text="${team.project.title}"></td>
                    <td>
                        <select>
                            <option th:each="listItem : ${team.employeeList}"
                                    th:text="${listItem.firstName} + ' ' + ${listItem.lastName}"></option>
                        </select>
                        <a style="width: 40px; position: absolute" class="logo"
                           th:href="@{/employees/responsibleForTeam/{id}(id=${team.id})}">
                            <img style="width: 40px" src="../../static/logo/goto_logo.png" alt="Logo picture">
                        </a>
                    </td>

                    <td><a class="text-white" th:href="@{/teams/update/{id}(id=${team.id})}">Edit</a>
                        <a class="text-white" th:href="@{/teams/delete/{id}(id=${team.id})}">Delete</a>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="project-list" class="row" th:fragment="projectTable">
    <div class="col-md-12" th:switch="${projects.totalElements}">
        <h2 th:case="0">No Projects Found!</h2>
        <div th:case="*">
            <h2>Projects</h2>
            <a style="position: absolute" th:href="@{/projects/addproject}">Create New Project</a>
            <table class="table table-dark table-striped">
                <thead style="height: 60px">
                <tr>
                    <th># Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Due Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project : ${projects.iterator()}">
                    <td th:text="${project.id}"></td>
                    <td><a th:text="${project.title}"
                           th:href="@{/teams/responsiblefor/{id}(id=${project.id})}"></a></td>
                    <td th:text="${project.description}"></td>
                    <td th:text="${project.price}"></td>
                    <td th:text="${project.dueDate}"></td>
                    <td><a class="text-white" th:href="@{/projects/update/{id}(id=${project.id})}">Edit</a>
                        <a class="text-white" th:href="@{/projects/delete/{id}(id=${project.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>


<div id="employee-list" class="row" th:fragment="employeeTable">
    <div class="col-md-12" th:switch="${employee.totalElements}">
        <h2 th:case="0">No employees found!</h2>
        <div th:case="*">
            <h2>Employees</h2>
            <a style="position: absolute" th:href="@{/employee/addemployee}">Create New Employee</a>
            <table class="table table-dark table-striped">
                <thead style="height: 60px">
                <tr>
                    <th># Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Team</th>
                    <th>Age</th>
                    <th>Address</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pn : ${employee.iterator()}">
                    <td th:text="${pn.id}"></td>
                    <td th:text="${pn.firstName}"></td>
                    <td th:text="${pn.lastName}"></td>
                    <td th:text="${pn.role}"></td>
                    <td th:text="${pn.team.name}"></td>
                    <td th:text="${pn.age}"></td>
                    <td th:text="${pn.address}"></td>
                    <td th:text="${pn.email}"></td>
                    <td th:text="${pn.personalPhoneNumber}"></td>
                    <td><a class="text-white" th:href="@{/employee/update/{id}(id=${pn.id})}">Edit</a>
                        <a class="text-white" th:href="@{/employee/delete/{id}(id=${pn.id})}">Delete</a>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>